@import "../../styles/contants.scss";

.wrapper {
  overflow: hidden;

  .container {
    position: relative;
    z-index: 1;

    .upperElements {
      @media (max-width: $sm), (max-width: $md) {
        margin-top: 1rem;
        display: flex;
        justify-content: left;
        font-size: small;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .lowerElements {
      @media (max-width: $sm), (max-width: $md) {
        margin-top: 4rem;
        display: flex;
        gap: 20px;
        justify-content: center;
        font-size: small;
      }
      margin-top: 12rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .experience {
        @media (max-width: $sm), (max-width: $md) {
          margin-right: 2px;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          font-size: small;
        }
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5rem;
        > :nth-child(2) {
          line-height: 25px;
        }
      }

      .certificate {
        @media (max-width: $sm), (max-width: $md) {
          margin-left: 7px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          font-weight: 500;
        }
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        > :nth-child(1) {
          line-height: 25px;
        }

        img {
          // margin-bottom: 0.5rem;
          width: 8rem;
        }
      }
    }

    .person {
      @media (max-width: $sm), (max-width: $md) {
        position: relative;
        left: 0;
        font-size: $sm;
        background-size: 14rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-position: center;
      }
      position: absolute;
      bottom: -2rem;
      margin: auto;
      left: 28%;
      flex-wrap: wrap;

      img {
        @media (max-width: $sm), (max-width: $md) {
          width: 30rem;
        }
        margin-bottom: -5px;
        width: 40rem;
        filter: drop-shadow(4px 0 4px black);
      }
    }

    .email {
      @media (max-width: $sm), (max-width: $md) {
        position: relative;
        display: none;
      }
      position: absolute;
      top: 50%;
      left: 0;
      color: #0982f4;
      text-decoration: none;
      &:hover {
        color: #6330d0;
      }
    }
  }
}
